body{
    background-color: azure;
    font-size: 1em;
    text-align: center;
    margin: 0;
}

header{
    font:bold 2em 'Lato',sans-serif;
    color: white;
    text-align: center;
    background-color: darkslategrey;
    padding: 1em;
}
h2{
    margin:1em;
    padding: 1em;
    padding-bottom: 0;
    margin-bottom: 0;
    font:bold 2em 'Avenir',sans-serif;
}
.diff{
  border-radius: 1em;
  color:black;
  width: 30%;
  margin: 0 auto;
  margin-top: 2.5em;
  text-align: center;
  padding: 0;
}

button{
    margin: .75em auto;
    margin-top:1em;
    padding: .75em;
    font-size: 1.5em;
    width: 60%;
    background-color:darkslategrey;
    color: white;
    border-radius: 2em;
    border: none;
}

button:hover{
    color: wheat;
}

#next{
    border-radius: 0;
    width: 10%;
    padding: .5em 1em;
}

#text{
    border: 2px solid black;
}


@media screen and (max-width: 760px){
    header{
        font:bold 1.5em 'Lato',sans-serif;
    }
    h2 {
     font:bold 1.5em 'Avenir',sans-serif;
    }

    #next{
        width:20%;
}
@media screen and (max-width: 540px){
    header{
        font:bold 1em 'Lato',sans-serif;
    }
    h2 {
     font:bold 1em 'Avenir',sans-serif;
    }
    #next{
        width:20%
    }
}
